# Default ignored files
/shelf/
/workspace.xml
C:/Files/20173231/활동/파이썬 인공지능 기초교육/소스/Python_AI/sources/모두의 딥러닝
C:/Files/20173231/활동/파이썬 인공지능 기초교육/소스/Python_AI/sources/모두의 딥러닝/자동_악보_넘기기_팀프로젝트/sources/GuitarTuner-master
C:/Files/20173231/활동/파이썬 인공지능 기초교육/소스/Python_AI/sources/모두의 딥러닝/자동_악보_넘기기_팀프로젝트/sources/Microcontrollers-master